@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&displ$myBlackay=swap");

$myBlack: rgb(33, 33, 33);
$myGray: rgb(50, 50, 50);
$myCyan: rgb(13, 115, 119);
$myBlue: rgb(20, 255, 236);

.App {
  text-align: center;
  .loading {
    color: aliceblue;
    font-size: 5rem;
    animation: continues-rotation 1s infinite linear;
  }
}
@keyframes continues-rotation {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(310deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background-color: $myGray;
  font-family: "Roboto Mono", monospace;
}
.student-form {
  background-color: $myCyan;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 25vw;
  margin: 5rem auto;
  padding: 1rem;
  span {
    color: aliceblue;
  }
  > input {
    border-color: aliceblue;
    border-radius: 50px;
    height: 2rem;
    width: 50%;
    padding: 1rem;
    transition: 0.2s ease-in-out;
    &:hover {
      border: 1px solid red;
      transform: scale(1.1);
    }
    &:focus {
      outline: none;
    }
  }
}

.add-btn {
  background-color: $myBlack;
  width: 8rem;
  height: 2rem;
  border-radius: 1rem;
  color: aliceblue;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  &:hover {
    scale: 1.2;
  }
}

.student-list {
  background-color: $myBlack;
  border-radius: 5px;
  margin: 20px auto;
  padding: 2rem;
  width: 50%;
  position: relative;
  .btn-search {
    text-align: center;
    position: absolute;
    top: 20px;
    right: 20px;
    outline: none;
    background: aliceblue;
    border: 3px solid $myBlue;
    border-radius: 10px;
    height: 2rem;
  }
  > h3 {
    font-size: 40px;
    color: aliceblue;
  }
  .student-card {
    background-color: $myBlue;
    border-radius: 3rem;
    margin: 1rem;
    padding: 2rem;
    width: 350px;
    display: inline-block;
    position: relative;
    .btn {
      background: $myBlue;
      border: none;
      color: $myBlack;
      position: absolute;
      top: 5px;
      right: 40px;
      font-size: 1.3rem;
      cursor: pointer;
    }
    p {
      color: $myBlack;
      font-weight: 700;
      font-family: "Times New Roman", Times, serif;
      display: inline-block;
      margin: 0 1rem;
    }
    span {
      display: inline-block;
      color: $myGray;
    }
    .card-row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      border-bottom: 1px dotted $myBlack;
    }
  }
}
